In [1]:
import os
os.chdir('../..')

In [6]:
import pandas as pd
import numpy as np

# Breweries

In [54]:
df = pd.read_csv('../data/matched/breweries.csv', header=[0,1])

In [21]:
choice = np.random.choice(len(df), 500, replace=False)

In [27]:
delta = 50
idx = 10*delta
df.loc[choice[idx: idx+delta]]

Empty DataFrame
Columns: [(ba, id), (ba, location), (ba, name), (ba, nbr_beers), (rb, id), (rb, location), (rb, name), (rb, nbr_beers), (scores, diff), (scores, sim)]
Index: []

Matching is done with TF-IDF on names (Good matching + high diff with second match) + exact same location.

Found 2 badly matched breweries on 500 breweries checked. => 99.6% of precision

6.0 % (500/8281) of all the breweries have been inspected.

In [29]:
df.loc[[1365, 2449]]

         ba                                                     rb             \
         id   location                       name nbr_beers     id   location
1365  18088      Italy  Il Giardino Della Birra 2         0   4089      Italy
2449  36326  Australia           Cavalier Brewing         4  12657  Australia

                                           scores
                         name nbr_beers      diff       sim
1365  Il Giardino della Birra         5  0.507887  1.000000
2449            Cavalier Beer        76  0.674727  0.904165

# Beers

In [30]:
df = pd.read_csv('../data/matched/beers.csv', header=[0,1])

In [33]:
subdf = df.select(lambda x: x[1] in ['abv', 'beer_name', 'brewery_name', 'style'], axis=1)

In [35]:
choice = np.random.choice(len(subdf), 500, replace=False)

In [50]:
delta = 50
idx = 10*delta
subdf.loc[choice[idx: idx+delta]]

Empty DataFrame
Columns: [(ba, abv), (ba, beer_name), (ba, brewery_name), (ba, style), (rb, abv), (rb, beer_name), (rb, brewery_name), (rb, style)]
Index: []

Matching is done with TF-IDF on names (Good matching + high diff with second match) + exact same ABV. (Beers are matched with the other beers of the matched brewery)

Found 0 badly matched beers on 500 beers checked. => 100% of precision

1.1 % (500/45640) of all the beers have been inspected.

In [59]:
subdf[subdf['ba']['brewery_name'] == 'Cavalier Brewing']

Empty DataFrame
Columns: [(ba, abv), (ba, beer_name), (ba, brewery_name), (ba, style), (rb, abv), (rb, beer_name), (rb, brewery_name), (rb, style)]
Index: []

In [61]:
subdf[subdf['rb']['brewery_name'] == 'Il Giardino Della Birra']

Empty DataFrame
Columns: [(ba, abv), (ba, beer_name), (ba, brewery_name), (ba, style), (rb, abv), (rb, beer_name), (rb, brewery_name), (rb, style)]
Index: []