In [1]:
import os
os.chdir('../..')

In [3]:
import numpy as np
import json
import pandas as pd
import time

import statsmodels.api as sm

import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
import matplotlib
matplotlib.rcParams['text.usetex'] = True
matplotlib.rcParams['text.latex.unicode'] = True

from classes.helpers import *

# For the Python notebook
%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [4]:
df = pd.read_csv('../data/ba/users.csv')

In [20]:
joined_date = np.array(df['joined'])

joined_year = []
for d in joined_date:
    try:
        joined_year.append(int(time.gmtime(int(d)).tm_year))
    except:
        joined_year.append(0)
        
joined_year = np.array(joined_year)

In [23]:
df_2014 = df[joined_year == 2014]

In [24]:
df_2014['nbr_ratings'].describe()

count    42789.000000
mean        25.096006
std        116.206047
min          1.000000
25%          1.000000
50%          2.000000
75%          8.000000
max       4428.000000
Name: nbr_ratings, dtype: float64

In [25]:
df_2014['nbr_reviews'].describe()

count    42789.000000
mean         2.314567
std         25.996854
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max       1728.000000
Name: nbr_reviews, dtype: float64

In [28]:
df_2014[(df_2014['nbr_reviews'] == 0) & (df_2014['nbr_ratings'] == 1)]

,nbr_ratings,nbr_reviews,user_id,user_name,joined,location
628,1,0,hb_sol.776883,hb_sol,1.390043e+09,NaN
673,1,0,lapalco_mike.866396,lapalco_mike,1.411207e+09,NaN
735,1,0,sintaroldus.842328,SintAroldus,1.407578e+09,NaN
1469,1,0,ryanbiln.908784,Ryanbiln,1.418641e+09,NaN
2209,1,0,tbaum05.855423,tbaum05,1.409393e+09,NaN
3079,1,0,andyshea.862302,Andyshea,1.410516e+09,Scotland
3130,1,0,wirelesstom.916663,WirelessTom,1.419851e+09,"United States, Virginia"
3148,1,0,kletus.897354,Kletus,1.416740e+09,NaN
3230,1,0,flyinryan167.813046,flyinryan167,1.403690e+09,NaN
3739,1,0,ph_mariano.829950,Ph_mariano,1.405937e+09,Brazil
4215,1,0,rlundback.857612,rlundback,1.409738e+09,NaN
4457,1,0,jzy063083.899402,jzy063083,1.417086e+09,NaN
4479,1,0,mxstar102.830640,Mxstar102,1.406023e+09,NaN
5073,1,0,thewaterboatman.906940,TheWaterboatman,1.418382e+09,NaN
5074,1,0,johnerten.872169,Johnerten,1.412244e+09,NaN
5080,1,0,hoops39.854950,Hoops39,1.409393e+09,"United States, New York"
5083,1,0,cici921ibg.865857,CiCi921IBG,1.411121e+09,NaN
5094,1,0,abeerhoarder.880185,ABeerHoarder,1.413626e+09,Canada
5098,1,0,aviatorjoey.877913,AviatorJoey,1.413281e+09,NaN
5113,1,0,nickjamesg.866361,Nickjamesg,1.411207e+09,NaN
5414,1,0,salbottz.874219,SalBottz,1.412590e+09,NaN
5416,1,0,reddragonscoach.812168,RedDragonsCoach,1.403604e+09,"United States, Pennsylvania"
5417,1,0,gcc1.860837,GCC1,1.410257e+09,"United States, Ohio"
5772,1,0,kestas.865653,Kestas,1.411121e+09,Lithuania
5774,1,0,silentstep.851878,silentstep,1.408874e+09,"United States, Michigan"
5807,1,0,terrault.822216,Terrault,1.404900e+09,NaN
5808,1,0,mdrosine123.806055,Mdrosine123,1.402740e+09,"United States, Georgia"
5812,1,0,pilotguy44.815972,pilotguy44,1.404036e+09,"United States, New York"
6042,1,0,sborycki.908356,Sborycki,1.418555e+09,NaN
6143,1,0,thenobz.786936,TheNobz,1.394104e+09,Scotland
...,...,...,...,...,...,...
153516,1,0,wearecareful.864898,wearecareful,1.410948e+09,"United States, Illinois"
153534,1,0,prewittandi.824242,prewittandi,1.405159e+09,NaN
153543,1,0,jenn4laughs.804834,Jenn4Laughs,1.402567e+09,NaN
153546,1,0,obarryrules.891301,obarryrules,1.415704e+09,"United States, Maine"
153547,1,0,grammish.856735,Grammish,1.409566e+09,NaN
153551,1,0,hyprhypo14.814098,hyprhypo14,1.403863e+09,"United States, Virginia"
153557,1,0,timba68.909378,Timba68,1.418728e+09,"United States, North Carolina"
153558,1,0,hishamzilay.867018,Hishamzilay,1.411294e+09,NaN
153574,1,0,nogbadthebad.845220,NogbadTheBad,1.408010e+09,NaN
153582,1,0,ole75.902774,Ole75,1.417604e+09,NaN
153590,1,0,ryanhurley.916513,RyanHurley,1.419851e+09,NaN
153593,1,0,monk7287.809589,Monk7287,1.403258e+09,"United States, Rhode Island"
153597,1,0,vytal85.901025,Vytal85,1.417345e+09,NaN
153601,1,0,aja5191.858001,aja5191,1.409825e+09,"United States, Ohio"
153613,1,0,siekierski.874941,Siekierski,1.412762e+09,NaN
153620,1,0,soulflytrib.788827,soulflytrib,1.394968e+09,"United States, Texas"
153621,1,0,docaggie.850847,Docaggie,1.408788e+09,NaN
153636,1,0,brickhousecbb.913108,BrickhouseCBB,1.419332e+09,"United States, Wisconsin"
153640,1,0,bberry.857334,bberry,1.409652e+09,"United States, Washington"
153641,1,0,mjk12.856400,MJK12,1.409566e+09,"United States, Virginia"
153642,1,0,sameitm.856369,sameitm,1.409566e+09,"United States, Washington"
153643,1,0,avicory.856299,AVicory,1.409566e+09,"United States, Virginia"
153645,1,0,steve256.856047,Steve256,1.409479e+09,NaN
153646,1,0,david1555.856023,David1555,1.409479e+09,"United States, Washington"
153656,1,0,triggsmichael.825812,Triggsmichael,1.405332e+09,NaN
153667,1,0,tjmaxal.876194,TJmaxal,1.412935e+09,NaN
153669,1,0,micahbozeman.851738,Micahbozeman,1.408874e+09,NaN
153679,1,0,agholmes.773742,AGHolmes,1.388747e+09,"United States, Ohio"
153695,1,0,egroves.813240,egroves,1.403777e+09,"United States, Michigan"
153696,1,0,llgarrity.884995,llgarrity,1.414580e+09,NaN